
#toolbar {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    height: 0;
    z-index: 990;
    overflow: visible;
}
#toolbar div {
    border: #D2D2D2 solid 1px;
    border-width: 1px 0;
    background: #F4F4F4;
    height: 40px;
    z-index: 991;
    width:100%;
    -webkit-transition-duration: 0ms;
    -webkit-transition-timing-function: ease-out;
}
.switch {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    padding: 7px 9px;
    margin: 3px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
}
.switch {
    float: right;
}
#back_btn {
    text-decoration: none;
    border: solid #D9D9D9;
    border-width: 1px 1px 1px 0;
    background: #F7F7F7;
    line-height: 29px;
    height: 30px;
    display: block;
    position: relative;
    float: left;
    margin: 5px 0 0 20px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px 0 6px;
    color:#323232;
}
#back_btn:before, #back_btn:after {
    content: '\0020';
    border-width: 15px 8px 15px 0;
    border-style: solid;
    position: absolute;
    left: -8px;
    top: -1px;
    width: 0;
    height: 0;
    display: block;
}

#back_btn:before {
    border-color: transparent #D9D9D9 transparent transparent;
}

#back_btn:after {
    border-color: transparent #F7F7F7 transparent transparent;
    left:-7px;
}

#left_content {
    padding: 80px 10px 10px;
    font-size:16px;
    line-height: 1.8;
    color: #5e5e5e;
}
#left_content p {
    text-indent: 2em;
}
#right_index {
    color: #fff;
    line-height: 2;
}
#right_index ul {
    padding-bottom: 60px;
}
#right_index li {
    text-indent: 20px;
    font-size:16px;
    padding: 5px 0;
    border-top: 1px solid #aaa;
    background: #777;
}