.ui-popover {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
}

.ui-popover>.ui-arrow {
    position: absolute;
    left: 50%;
    top: 0;
    margin: -7px;
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
    border-width: 0 7px 7px 7px;
}

.ui-popover>.ui-arrow:before {
    position: absolute;
    top: 1.5px;
    left: -5.5px;
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 6px 6px 6px;
    content: '';
}

.ui-pos-left>.ui-arrow {
    left: auto;
    right: 0;
    top: 50%;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
    border-width: 7px 0 7px 7px;
}
.ui-pos-left>.ui-arrow:before {
    left: auto;
    right: 1.5px;
    top: -5.5px;
    border-color: transparent transparent transparent #fff;
    border-width: 6px 0 6px 6px;
}

.ui-pos-top>.ui-arrow {
    top: auto;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
    border-width: 7px 7px 0 7px;
}
.ui-pos-top>.ui-arrow:before {
    top: auto;
    bottom: 1.5px;
    border-color: #fff transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}

.ui-pos-right>.ui-arrow {
    left: 0;
    top: 50%;
    border-color: transparent rgba(0, 0, 0, 0.2) transparent  transparent;
    border-width: 7px 7px 7px 0;
}
.ui-pos-right>.ui-arrow:before {
    left: 2px;
    top: auto;
    bottom: -5.5px;
    border-color: transparent #fff transparent transparent;
    border-width: 6px 6px 6px 0;
}