/*component styles*/
.chest{
    height:104px;
    width:100px;
    position: relative;
    margin:0 auto;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.chest.still{
    background: url("images/chest_still_small.png") no-repeat;
}

.chest.animate{
    -webkit-transform:scale(0.65);/**TODO:以后将图片缩小，现在先为了小屏幕，缩小一点**/
}

.chest-top {
    position: absolute;
    z-index: 10;
    top:20px;
    width:136px;
    height:74px;
    background: url("images/top.png");
}

.chest-bottom {
    position: absolute;
    z-index: 1;
    top: 40px;
    width:136px;
    height:106px;
    background: url("images/bottom.png");
}

.animate.waiting > *{
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

/*使得箱子不会同步播放等待动画，看上去自然些*/
.animate.waiting:nth-child(even) > *{
    -webkit-animation-delay:0.2s;
}

.waiting .chest-top {
    -webkit-animation-name: topWaiting;
    -webkit-transform-origin: 20% 80%;
}

.waiting .chest-bottom {
    -webkit-animation-name: bottomWaiting;
}


.chest-opened-top{
    position: absolute;
    z-index: -10;
    top: 0;
    left:-5px;
    width:115px;
    height:63px;
    background: url("images/top_open.png");

}

.prize{
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 50%;
}

/*.chest:not(.opening) .prize {*/
/*display: none;*/
/*}*/

/*.chest:not(.opening) .chest-opened-top {*/
/*display: none;*/
/*}*/

.glow{
    position: absolute;
    top: 20px;
    left: -50px;
    z-index: 20;

    width:208px;
    height:125px;
    background: url("images/glow.png");
}

/*.chest:not(.opening) .glow {*/
/*display: none;*/
/*}*/

.opening .glow{
    -webkit-animation-name: glowOpening;
}


.opening .chest-top {
    -webkit-animation-name: topOpening;
}

.opening .chest-opened-top {
    -webkit-animation-name: topOpening2;
    -webkit-transform-origin: right bottom;;
}

.opening .chest-bottom {
    -webkit-animation-name: bottomOpening;
    -webkit-transform-origin: center bottom;
    -webkit-transform:scale(1,1);
}

.key{
    position: absolute;
    top: 90px;
    left: 90px;
    z-index: 15;

    width:40px;
    height:28px;
    background: url("images/key.png");
}

.chest:not(.opening) .key {
    display: none;
}

.opening .key{
    -webkit-animation-name: keyOpening;
}

.animate.opening > *{
    -webkit-animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
}

/*开始状态*/
.chest.waiting .prize, .chest.idle .prize{
    display: none;
}

.chest.waiting .chest-opened-top, .chest.idle .chest-opened-top{
    display: none;
}

.chest.waiting .glow, .chest.idle .glow{
    display: none;
}

/*Android结束状态*/
.end .key{
    display: none;
}

.end .glow{
    display: none;
}

.end .chest-top{
    display: none;
}


.end .chest-opened-top{
    -webkit-transform:scale(1,1.1) skewX(16deg) translate(0px,2px);
}

/*animation details*/
@-webkit-keyframes topWaiting{
    0%{
        -webkit-transform:rotateZ(-1.5deg);
    }

    20%{
        -webkit-transform:rotateZ(-0.3deg);
    }

    35%{
        -webkit-transform:rotateZ(0.3deg);
    }

    45%{
        -webkit-transform:rotateZ(1.8deg);
    }

    60%{
        -webkit-transform:rotateZ(-1.5deg);
    }

    100%{
        -webkit-transform:rotateZ(-1.5deg);
    }

}

@-webkit-keyframes bottomWaiting{
    0%{
        -webkit-transform:rotateZ(0deg);
    }

    20%{
        -webkit-transform:rotateZ(1deg);
    }

    35%{
        -webkit-transform:rotateZ(-1.3deg);
    }

    45%{
        -webkit-transform:rotateZ(2deg);
    }

    60%{
        -webkit-transform:rotateZ(-2.3deg);
    }

    100%{
        -webkit-transform:rotateZ(-2.3deg);
    }

}

@-webkit-keyframes topOpening{
    0%{
        -webkit-transform:translate(0px,0px);
         opacity:1;
    }

    27%{
         -webkit-transform:translate(0px,0px);
         opacity:1;
    }

    36%{
        -webkit-transform:translate(0px,-2px);
    }

    43%{
        -webkit-transform:translate(0px,4px);
    }

    50%{
        -webkit-transform:translate(0px,0px);
        opacity:1;
    }
    51%{
        -webkit-transform:translate(0px,0px);
        opacity:0;
    }

    100%{
        -webkit-transform:translate(0px,0px);
        opacity:0;
    }

}

@-webkit-keyframes topOpening2{
    0%{
        -webkit-transform:scale(1,1.1) skewX(0deg) translate(0px,0px);
        opacity:0;
    }

    50%{
        -webkit-transform:scale(1,1.1) skewX(0deg) translate(0px,0px);
        opacity:0;
    }
    51%{
        -webkit-transform:scale(1,1.1) skewX(0deg) translate(0px,0px);
        opacity:1;
    }

    59%{
        -webkit-transform:scale(1,1.1)  skewX(0deg) translate(0px,0px);
        opacity:1;
    }

    66%{
        opacity:1;
        -webkit-transform:scale(1,1.1) skewX(15deg) translate(0px,2px);
    }

    100%{
        opacity:1;
        -webkit-transform:scale(1,1.1) skewX(16deg) translate(0px,2px);
    }
}

@-webkit-keyframes bottomOpening{
     0%{
        -webkit-transform:scale(1,1);
    }

    27%{
        -webkit-transform:scale(1,1);
    }

    36%{
        -webkit-transform:scale(1,1.03);
    }

    43%{
        -webkit-transform:scale(1,0.95);
    }

    50%{
        -webkit-transform:scale(1,1);
    }

    100%{
        -webkit-transform:scale(1,1);
    }

}

@-webkit-keyframes keyOpening{
    0%{
        -webkit-transform:translate(160px,87px );
        opacity:0.5;
        animation-timing-function: ease-out;
    }

    27%{
        -webkit-transform:translate(0px,0px);
        opacity:1;
        animation-timing-function: ease-out;
    }

    75%{
        -webkit-transform:translate(0px,0px);
        opacity:0;
    }

    100%{
        -webkit-transform:translate(0px,0px);
        opacity:0;
    }

}

@-webkit-keyframes glowOpening{
    0%{
        opacity:0;
        -webkit-transform:scale(1,1);
    }

    47%{
        opacity:0;
        -webkit-transform:scale(1,0.1);
    }

    64%{
        opacity:1;
        -webkit-transform:scale(1,1);
    }

    75%{
        opacity:1;
        -webkit-transform:scale(1,1);
    }

    95%{
        opacity:0;
        -webkit-transform:scale(0.8,0.8);
    }

    100%{
         opacity:0;
         -webkit-transform:scale(0.8,0.8);
    }

}
