.ui-panel{
    width: 17em;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
    color: #ffffff;
}

.ui-panel.ui-panel-right{
    right: 0;
}

.ui-panel.ui-panel-left{
    left: 0;
}

.ui-panel.ui-panel-push{
    z-index: 999;
}
.ui-panel.ui-panel-overlay{
    z-index: 1001;
}
.ui-panel.ui-panel-reveal{
    z-index: -1;
}


.ui-panel-animate{
    -webkit-transition: -webkit-transform 350ms ease;
}

.ui-panel-open{}
.ui-panel-close{}