
.ui-slider {
    height: 148px;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-slider-wheel {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-timing-function:ease-out;
}
.ui-slider-item > a {
    display: block;
    text-decoration: none;
}

.ui-slider-group {
    height: 100%;
    float: left;
}

.ui-slider-item {
    height: 100%;
    width:100%;
    background-color: #e3e3e3;
    text-align: center;
    top:0;
    display: inline-block;
    overflow: hidden;
}

.ui-slider-item > p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    pointer-events: none;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-slider-dots {
    position: absolute;
    bottom:6px;
    right: 0;
    padding: 0 6px;
    text-align: right;

    /*无文字时，居中样式*/
    /*width:100%;*/
    /*background: rgba(0, 0, 0, 0.5);*/
    /*text-align: center;*/
}