.ui-holder {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    left: -10000px;
}

.ui-slideup {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
}
.ui-slideup-wrap {
    position: absolute;
    left: 0;
    z-index: 1200;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-transform: translateZ(0);
}