html, body {
    position: relative;
    height: 100%;
}
#main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing:border-box;
    padding: 44px 0 0 0;
}
#thelist{
    height: 100%;
}

#thelist li {
    height:44px;
    line-height:44px;
    color:#333;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fafafa;
    font-size: 16px;
    font-weight:bold;
    padding: 0 10px;
}
