.ui-dialog{
    background: #f5f5f5;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
}

.ui-dialog .ui-dialog-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    background: #373737;
    color: #fff;
    font-weight: 700;
    -webkit-border-radius: 3px 3px 0 0;
}

.ui-dialog .ui-dialog-close{
    cursor: pointer;
    border-width: 0;
    display: inline-block;
    padding: 7px 9px;
    margin: 2px;
    line-height: 1;
    -webkit-border-radius: 3px;
}

.ui-dialog .ui-dialog-close .ui-icon {
    background-image: url("../../icons-36-white.png");
}

.ui-dialog .ui-dialog-close-hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.ui-dialog .ui-dialog-content{
    padding: 20px;
    position: relative;
}

.ui-dialog-btns {
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    margin: 19px 0 0 0;
    width: 100%;
}
.ui-dialog-btns .ui-btn {
    padding: 0;
    font-size: 18px;
    width: 100%;
    display: table-cell;
    float: none;
    text-align: center;
    height: 44px;
    line-height: 44px;
    color: #232323;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-bottom: 0 none;
    cursor: pointer;
}

.ui-dialog-btns .ui-btn:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-left: 0 none;
}

.ui-dialog-btns .ui-btn:last-child {
    -webkit-border-bottom-right-radius: 3px;
    border-right: 0 none;
}

.ui-dialog-btns .ui-btn.ui-state-hover {
    background-color: #e2e2e2;
}

/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-dialog{
        min-width: 500px;
    }
    .ui-dialog .ui-dialog-title{
        min-height: 1.1em;
    }
}