.ui-tabs {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui-tabs-nav {
	list-style: none;
	padding: 0;
	margin: 0;
    z-index: 11;
	position: relative;
}
.ui-tabs-content {
	position: relative;
	min-height: 100px;
	width: 100%;
	-webkit-box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: height 200ms ease-in-out;
}
.ui-tabs-content .ui-tabs-panel {	
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
    min-height: 100px;
}
.ui-tabs-panel {
    -webkit-transform: translateZ(0);
}
.ui-tabs-content .ui-tabs-panel.ui-state-active, .ui-viewport-transitioning .ui-tabs-panel.out {
	display: block;
    z-index: 1;
}
.ui-tabs-content .ui-tabs-panel.ui-state-active {
    z-index: 2;
}