.ui-dragdelete {
    border: 1px solid #E1E1E1;
    border-width: 1px 1px 0 1px;
    background-color: #FFF;
}
.ui-dragdelete p {
    line-height: 2.5em;
}
.ui-dragdelete-item {
    height: 100%;
    display: block;
    /*margin-right: 50px;*/
    padding-left: 50px;
    border-bottom: 1px solid #E1E1E1;
    background: url('./icon.gif') no-repeat 10px 7px;
    background-size: 26px 26px;
}
.ui-dragdelete-clear {
    line-height: 2.5em;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-width: 0 1px 1px 1px;
    background-color: #FFF;
}