.ui-dragdelete {
    padding-top: 1px;
}
.ui-dragdelete-itemwrap {
    border: 1px solid #E1E1E1;
    border-width: 1px 1px 0 1px;
    background-color: #FFF;
    margin-top: -1px;
}
.ui-dragdelete-item {
    padding-left: 50px;
    border-bottom: 1px solid #E1E1E1;
    background: url('./icon.gif') no-repeat 10px 7px;
    background-size: 26px 26px;
}
.ui-dragdelete-clear {
    border: 1px solid #E1E1E1;
    background-color: #FFF;
    margin-top: -1px;
}
.ui-dragdelete-itemwrap {
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: -webkit-transform;
}
.ui-dragdelete-itemmoving {
    -webkit-transition-duration: 0;
}