.ui-dragdelete {
    overflow: hidden;
}
.ui-dragdelete-itemwrap {
    line-height: 2.5em;
}
.ui-dragdelete-item {
    height: 100%;
    display: block;
}
.ui-dragdelete-clear {
    line-height: 2.5em;
    text-align: center;
}