.ui-dragdelete {
    overflow: hidden;
}
.ui-dragdelete-itemwrap {
    line-height: 2.5em;
    overflow: hidden;
    white-space: nowrap;
}
.ui-dragdelete-item {
    height: 100%;
    display: block;
}
.ui-dragdelete-clear {
    line-height: 2.5em;
    text-align: center;
}