.ui-dropmenu {
    position: absolute;
    top: -9999px;
    left: 0;
    background-color: #fff;
    z-index: 200;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
}
.ui-dropmenu .ui-dropmenu-items, .ui-dropmenu .ui-dropmenu-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space:nowrap;/*内容不换行*/
}
.ui-dropmenu .iscroll-wrap {
    width:100%;
    height: 100%;
    overflow: hidden;
}