.prize{
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 50%;
}

.wheel{
    position:relative;
}

.wheel .wheel-ring{
    position: absolute;
    width: 275px;
    height: 275px;
    background: url("images/wheel_ring.png");
}

.wheel .wheel-pointer{
    position: absolute;
    width: 23px;
    height: 45px;
    background: url("images/pointer.png");

    left:126px;
    top: 65px;
}

.wheel .wheel-body{
    position: absolute;
    width: 232px;
    height: 232px;
    background: url("images/wheel.png");
    -webkit-transform-origin: center center;
    -webkit-transform:rotateZ(0deg);

    left:22px;
    top:21px;
}

.wheel .wheel-button{
    position: absolute;
    width: 65px;
    height: 65px;
    background: url("images/button.png");

    left:105px;
    top:105px;
}

.wheel .wheel-button:active{
    background: url("images/button_active.png");
}

.wheel .wheel-button.disabled{
    background: url("images/button_rotating.png");
}
