.ui-input-mask{
	position: relative;
}

.ui-input-mask input{
	outline: none;
}

.ui-quickdelete-button{
    /*gmu-image-self*/
    background: url(delete.png) no-repeat;
	-webkit-background-size: 100%;
    -webkit-background-origin: content-box;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}

