.ui-quickdelete-btn {
    /*gmu-image-self*/
    background: url(delete.png) no-repeat;
    -webkit-background-size: 100%;
    -webkit-background-origin: content-box;
    position: absolute;
    cursor: pointer;
    width: 21px;
    height: 21px;
    right: 5px;
    top: 50%;
    margin-top: -11px;
}