body {
	padding:0px;
	margin:0px;
}

#piechart {
	background-color:#fff;
	position:relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.tips-container {
	width : 100%;
	height : 25px;
	background-color:#fff;
	position:absolute;
	padding:0px;
	margin:0px;
}

.chart-canvas{
	position:absolute;
	background-color:#ffffff;
}

.tip-color{
	height:25px;
	margin-right:5px;
	float:left;
	color:#fff;
	line-height: 25px;
	padding:0px 4px;
	font-family:Microsoft YaHei, SimSun;
	font-size:16px;
	-webkit-user-select: none;
    -webkit-touch-callout: none;
}

.tip-content{
	height:25px;
	line-height:25px;
	float:left;
	margin-right:10px;
	-webkit-user-select: none;
    -webkit-touch-callout: none;
}